@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-body: 'poppins', sans-serif;
  --color-btn: #220930;
}

body {
  font-family: var(--font-body);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1600px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left {
  width: 500px;
  background-image: url('../images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.images-card {
  position: absolute;
  left: 30%;
}

.card-front {
  margin-left: 70px;
}

.card-back {
  margin: 15px 0 0 150px;
}

.form-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-card form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  border: 0;
}

.form-card label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
}

.form-card input {
  margin: 5px 0 15px 0;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  width: 100%;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.164);
}

.form-card .valCvc {
  width: 70px;
  margin-right: 5px;
}

.form-card .valCvc:nth-child(2) {
  margin-right: 15px;
}

.inline-form .cvc {
  display: inline-block;
}

.cvc .cvc-input {
  width: 100%;
}

#btn-submit {
  width: 100%;
  border: 0;
  color: white;
  background-color: var(--color-btn);
  border-radius: 5px;
  padding: 13px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.card-front img,
.card-back img {
  width: 370px;
}

.card-back p {
  position: absolute;
  top: 72%;
  left: 85%;
  color: #fff;
  font-size: 17px;
}

#numero-card {
  position: absolute;
  top: 25%;
  color: #fff;
  left: 20%;
  font-size: 28px;
}

#nome-card {
  position: absolute;
  top: 36%;
  left: 20%;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#validade-card {
  position: absolute;
  top: 36%;
  font-size: 15px;
  left: 69%;
  color: #fff;
}

#foto-card {
  position: absolute;
  top: 7%;
  left: 20%;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#foto-card-small {
  position: absolute;
  top: 10%;
  left: 30%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}

input::placeholder {
  text-transform: lowercase;
  color: #99999997;
}

@media (max-width: 1300px) {
  .left {
    width: 300px;
  }

  .card-front img,
  .card-back img {
    width: 300px;
  }

  .images-card {
    left: 0;
  }

  #numero-card {
    font-size: 23px;
  }

  #foto-card {
    width: 30px;
    height: 30px;
  }

  #foto-card-small {
    width: 20px;
    height: 20px;
    top: 9%;
  }

  #nome-card {
    font-size: 13px;
  }

  #validade-card {
    left: 67%;
    font-size: 13px;
  }

  #outputCvc {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .form-card .valCvc {
    width: 40px;
  }

  .form-card input {
    width: 70%;
  }

  .cvc .cvc-input {
    width: 50%;
  }

  #btn-submit {
    width: 70%;
  }

  .form-card {
    margin-left: 15%;
  }
}

@media (max-width: 890px) {
  .card-front img,
  .card-back img {
    width: 250px;
  }

  .left {
    width: 250px;
  }

  .card-back {
    margin-left: 100px;
  }

  .form-card {
    margin-left: 25%;
  }

  #numero-card {
    font-size: 17px;
    left: 25%;
  }

  #foto-card {
    width: 25px;
    height: 25px;
    left: 25%;
  }

  #foto-card-small {
    width: 15px;
    height: 15px;
    top: 9%;
    left: 35%;
  }

  #nome-card {
    font-size: 11px;
    left: 25%;
  }

  #validade-card {
    left: 76%;
    font-size: 11px;
  }

  #outputCvc {
    font-size: 11px;
  }
}

@media (max-width: 690px) {
  .container {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .rigth,
  .form-card {
    height: 50vh;
  }

  .form-card {
    margin: 0;
  }

  .form-card .valCvc {
    width: 70px;
  }

  .form-card input {
    width: 100%;
  }

  .cvc .cvc-input {
    width: 100%;
  }

  #btn-submit {
    width: 100%;
  }
  
  .left {
    width: 100vw;
    height: 30vh;
  }

  .images-card {
    left: 10%;
  }

  }